@mixin container($direction, $background)
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: $direction
	background-color: $background

@mixin styleIcon($color)
	color: $color
	margin: 20px 10px 0 0

	&:hover
		opacity: .5

@mixin styleButton($backgroundColor, $textColor)
		background-color: $backgroundColor
		color: $textColor
		padding: 10px 20px
		border: none
		float: right
		margin-top: 3em

		&:hover
			background-color: $textColor
			color: $backgroundColor

@mixin small-phone
	@media(max-width:411px)
		@content
	
@mixin phone
	@media(min-width:412px) and (max-width:576px)
		@content

@mixin small-tablet 
	@media(min-width:577px) and (max-width:767px)
		@content

@mixin tablet 
	@media(min-width:768px) and (max-width:991px)
		@content

@mixin desktop
	@media(min-width:992px)
		@content