//--------------- H E A D E R ----------------
body
@include desktop
	header
		h1
			display: none

		h2
			display: none
			
		div#left
			height: 100vh
			background-color: #A0C1B9
			z-index: 5

		div#right
			height: 100vh
			background-color: #70A0AF
			z-index: 10
		
		div.btn-resume-div
			height: 10vh
			position: absolute
			bottom: 0
			z-index: 100

			a.resume
				position: absolute
				z-index: 100

			a.btn-yellow
				background: #FEDC97
				color: #706993
				z-index: 100

			a.btn-yellow:hover
				background: #706993
				color: #FFF


		div#purpleVector
			height: 10rem
			z-index: 200
			position: absolute
			left: 10%
			bottom: 50%
			opacity: .5
			z-index: 15

		@include phone
			div#purpleVector
			height: 5rem
			z-index: 200
			position: absolute
			left: 10%
			bottom: 50%
			opacity: .5
			z-index: 15

		div#tealVector
			height: 10rem
			z-index: 200
			position: absolute
			right: 0%
			bottom: 90%
			z-index: 15

		div#lineVector
			z-index: 200
			position: absolute
			left: -4%
			bottom: 0%
			z-index: 20

		div#headerName
			height: 100vh
			position: absolute
			padding: 0 30vh 0 30vh
			bottom: 7.5%
			z-index: 25

			div
				div
					img.headerName
						z-index: 30

		div.header-button
			// background-color: rgba(0,0,0,.3)
			position: relative
			right: 45%
			height: 100vh
			z-index: 300

			a.header-nav
				position: absolute
				right: 50%
				bottom: 30%
				z-index: 100

				img.nav-button
					opacity: 1
					height: 5rem
					font-size: 5rem
					color: #FEDC97
					z-index: 30
					transition-timing-function: ease-out
					transition: 0.5s

				img.nav-button:hover
					opacity: .85
					color: #FEDC97
					transform: scale(1.15)
					transition-timing-function: ease-in
					transition: 0.5s

@include tablet
	header
		h1
			display: none

		h2
			display: none
			
		div#left
			height: 100vh
			background-color: #A0C1B9
			z-index: 5

		div#right
			height: 100vh
			background-color: #70A0AF
			z-index: 10
		
		div.btn-resume-div
			height: 10vh
			position: absolute
			bottom: 0
			z-index: 100

			a.resume
				position: absolute
				z-index: 100

			a.btn-yellow
				background: #FEDC97
				color: #706993
				z-index: 100

			a.btn-yellow:hover
				background: #706993
				color: #FFF

		div#purpleVector
			height: 10rem
			z-index: 200
			position: absolute
			left: -25%
			bottom: 50%
			opacity: .5
			z-index: 15

		div#tealVector
			// display: none
			height: 100px
			z-index: 200
			position: absolute
			left: 50%
			right: 0%
			bottom: 80%
			z-index: 15

		div#lineVector
			display: none
			// z-index: 200
			// position: absolute
			// right: 0%
			// left: 0%
			// bottom: 87.5%
			// z-index: 20

		div#headerName
			display: flex
			height: 100vh
			position: absolute
			bottom: 5%
			z-index: 25

			div
				div
					img.headerName
						height: 100vh
						z-index: 30

		div.header-button
			display: none
			background-color: rgba(0,0,0,.3)
			position: relative
			right: 40%
			height: 100vh
			z-index: 300

			a.header-nav
				position: absolute
				right: 50%
				bottom: 30%
				z-index: 100

				img.nav-button
					opacity: 1
					height: 5rem
					font-size: 5rem
					color: #FEDC97
					z-index: 30
					transition-timing-function: ease-out
					transition: 0.5s

				img.nav-button:hover
					opacity: .85
					color: #FEDC97
					transform: scale(1.15)
					transition-timing-function: ease-in
					transition: 0.5s

@include small-tablet
	header
		h1
			display: none

		h2
			display: none
			
		div#left
			height: 100vh
			background-color: #A0C1B9
			z-index: 5

		div#right
			height: 100vh
			background-color: #70A0AF
			z-index: 10
		
		div.btn-resume-div
			height: 10vh
			position: absolute
			bottom: 0
			z-index: 100

			a.resume
				position: absolute
				z-index: 100

			a.btn-yellow
				background: #FEDC97
				color: #706993
				z-index: 100

			a.btn-yellow:hover
				background: #706993
				color: #FFF

		div#purpleVector
			height: 10rem
			z-index: 200
			position: absolute
			left: -25%
			bottom: 60%
			opacity: .5
			z-index: 15

		div#tealVector
			// display: none
			height: 100px
			z-index: 200
			position: absolute
			left: 50%
			right: 0%
			bottom: 80%
			z-index: 15

		div#lineVector
			display: none
			// z-index: 200
			// position: absolute
			// right: 0%
			// left: 0%
			// bottom: 87.5%
			// z-index: 20

		div#headerName
			display: flex
			height: 100vh
			position: absolute
			bottom: 5%
			z-index: 25

			div
				div
					img.headerName
						height: 100vh
						z-index: 30

		div.header-button
			display: none
			background-color: rgba(0,0,0,.3)
			position: relative
			right: 40%
			height: 100vh
			z-index: 300

			a.header-nav
				position: absolute
				right: 50%
				bottom: 30%
				z-index: 100

				img.nav-button
					opacity: 1
					height: 5rem
					font-size: 5rem
					color: #FEDC97
					z-index: 30
					transition-timing-function: ease-out
					transition: 0.5s

				img.nav-button:hover
					opacity: .85
					color: #FEDC97
					transform: scale(1.15)
					transition-timing-function: ease-in
					transition: 0.5s

@include phone
	header
		h1
			display: none

		h2
			display: none
			
		div#left
			height: 100vh
			background-color: #A0C1B9
			z-index: 5

		div#right
			height: 100vh
			background-color: #70A0AF
			z-index: 10
		
		div.btn-resume-div
			height: 10vh
			position: absolute
			bottom: 0
			z-index: 100

			a.resume
				position: absolute
				z-index: 100

			a.btn-yellow
				background: #FEDC97
				color: #706993
				z-index: 100

			a.btn-yellow:hover
				background: #706993
				color: #FFF

		div#purpleVector
			height: 10rem
			z-index: 200
			position: absolute
			left: -25%
			bottom: 62.5%
			opacity: .5
			z-index: 15

		div#tealVector
			// display: none
			height: 100px
			z-index: 200
			position: absolute
			left: 0%
			right: 0%
			// top: 0%
			bottom: 110%
			z-index: 15

		div#lineVector
			display: none
			// z-index: 200
			// position: absolute
			// right: 0%
			// left: 0%
			// bottom: 87.5%
			// z-index: 20

		div#headerName
			height: 100vh
			width: 100vh
			position: absolute
			bottom: 5%
			z-index: 25

			div
				div
					img.headerName
						z-index: 30
						height: 100vh

		div.header-button
			display: none
			background-color: rgba(0,0,0,.3)
			position: relative
			right: 40%
			height: 100vh
			z-index: 300

			a.header-nav
				position: absolute
				right: 50%
				bottom: 30%
				z-index: 100

				img.nav-button
					opacity: 1
					height: 5rem
					font-size: 5rem
					color: #FEDC97
					z-index: 30
					transition-timing-function: ease-out
					transition: 0.5s

				img.nav-button:hover
					opacity: .85
					color: #FEDC97
					transform: scale(1.15)
					transition-timing-function: ease-in
					transition: 0.5s

@include small-phone
	header
		h1
			display: none

		h2
			display: none
			
		div#left
			height: 100vh
			background-color: #A0C1B9
			z-index: 5

		div#right
			height: 100vh
			background-color: #70A0AF
			z-index: 10
		
		div.btn-resume-div
			height: 10vh
			position: absolute
			bottom: 0
			z-index: 100

			a.resume
				position: absolute
				z-index: 100

			a.btn-yellow
				background: #FEDC97
				color: #706993
				z-index: 100

			a.btn-yellow:hover
				background: #706993
				color: #FFF

		div#purpleVector
			height: 10rem
			z-index: 200
			position: absolute
			left: -25%
			bottom: 62.5%
			opacity: .5
			z-index: 15

		div#tealVector
			// display: none
			height: 100px
			z-index: 200
			position: absolute
			left: 0%
			right: 0%
			// top: 0%
			bottom: 110%
			z-index: 15

		div#lineVector
			display: none
			// z-index: 200
			// position: absolute
			// right: 0%
			// left: 0%
			// bottom: 87.5%
			// z-index: 20

		div#headerName
			height: 100vh
			width: 100vh
			position: absolute
			bottom: 5%
			z-index: 25

			div
				div
					img.headerName
						z-index: 30
						height: 100vh

		div.header-button
			display: none
			background-color: rgba(0,0,0,.3)
			position: relative
			right: 40%
			height: 100vh
			z-index: 300

			a.header-nav
				position: absolute
				right: 50%
				bottom: 30%
				z-index: 100

				img.nav-button
					opacity: 1
					height: 5rem
					font-size: 5rem
					color: #FEDC97
					z-index: 30
					transition-timing-function: ease-out
					transition: 0.5s

				img.nav-button:hover
					opacity: .85
					color: #FEDC97
					transform: scale(1.15)
					transition-timing-function: ease-in
					transition: 0.5s