//--------------- N A V B A R ----------------
main 
	@include desktop	
		nav.navbar
			height: 10vh
			background:  #FEDC97

			a
				img.navbar-logo
					height: 10vh
					opacity: .75

			div.collapse
				ul.navbar-nav >
					li
						a.nav-link
							background: rbga(0,0,0,.3)
							font-family: Montserrat
							font-weight: bold
							color: $darkGray

	@include tablet
		nav.navbar
			display: none !important
			
			a#about
				img.navbar-logo
					display: none !important

	@include small-tablet
		nav.navbar
			display: none !important
			
			a#about
				img.navbar-logo
					display: none !important

	@include phone
		nav.navbar
			display: none

	@include small-phone
		nav.navbar
			display: none



