//--------------- A B O U T ----------------
@include desktop
	section.about
		background-color: $neutralColor
		height: 100vh
		top: 20%
		z-index: 1000

		div.mobile
			height: 0vh
			display: none

			div.profile
				height: 0vh
				display: none

				div
					height: 0vh
					display: none

					div
						height: 0vh
						display: none

						img.profilePic
							height: 0vh
							display: none

					h3.aboutMe-name
						height: 0vh
						display: none

					h4.aboutMe-title
						height: 0vh
						display: none

					em.text-purple
						height: 0vh
						display: none

			div.aboutMe
				height: 0vh
				display: none

				div
					height: 0vh
					display: none
					h1
						height: 0vh
						display: none

					h2
						height: 0vh
						display: none

					p.aboutMe-description
						height: 0vh
						display: none

				div
					height: 0vh
					display: none	
								
					img.codingVector
						height: 0vh
						display: none

			div
				height: 0vh
				display: none
				
				a.about-nav
					height: 0vh
					display: none

		div.flex-nowrap
			div.profile
				position: relative
				height: 100vh

				div
					div
						img.profilePic
							height: 40vh

					h3.aboutMe-name
						font-family: Oswald !important
						font-size: 3rem
						color: $darkGray

					h4.aboutMe-title
						font-family: Montserrat !important
						font-size: 1.3rem
						color: $darkGray

						em.text-purple
							color: $lightPurple
							font-size: 1.5rem
							opacity: .5
							font-weight: bold


			div.aboutMe
				background-color: rgba(0,0,0,.3)
				position: relative
				height: 100vh

				div
					h1
						font-family: OSWALD
						font-size: 5rem
						color: $tealLight

					h2
						font-family: OSWALD
						font-size: 2rem
						color: $accentColorLight

					p.aboutMe-description
						font-family: Montserrat !important
						font-size: 1.2rem
						color: $neutralColor
						line-height: 1.6
						text-align: justify

				div
					img.codingVector
						height: 10vh
						position: absolute

						opacity: .8
						transition-timing-function: ease-out
						transition: 0.5s

					img.codingVector:hover
						height: 10vh
						position: absolute

						opacity: .8
						transition-timing-function: ease-in
						transition: 0.5s
						transform: scale(1.2)

			div.about-button
				background-color: rgba(0,0,0,.3)
				position: relative
				right: 47.5%
				top: 50%
				height: 100vh
				z-index: 300

				a.about-nav
					color: $accentColor
					position: absolute
					right: 50%
					bottom: 2.5%
					z-index: 100
					transition-timing-function: ease-out
					transition: 0.3s
					opacity: .3

				a.about-nav:hover
					color: $accentColor
					transition-timing-function: ease-in
					transition: 0.3s
					transform: scale(1.15)
					opacity: 1

@include tablet
	section.about
		background-color: $neutralColor
		height: 100vh
		top: 20%
		z-index: 1000

		div.flex-nowrap
			height: 0vh
			display: none

			div.profile
				height: 0vh
				display: none

				div
					height: 0vh
					display: none

					div
						height: 0vh
						display: none

						img.profilePic
							height: 0vh
							display: none

					h3.aboutMe-name
						height: 0vh
						display: none

					h4.aboutMe-title
						height: 0vh
						display: none

					em.text-purple
						height: 0vh
						display: none

			div.aboutMe
				height: 0vh
				display: none

				div
					height: 0vh
					display: none
					h1
						height: 0vh
						display: none

					h2
						height: 0vh
						display: none

					p.aboutMe-description
						height: 0vh
						display: none

				div
					height: 0vh
					display: none	
								
					img.codingVector
						height: 0vh
						display: none

			div
				height: 0vh
				display: none
				
				a.about-nav
					height: 0vh
					display: none

		div.mobile
			div.profile
				height: 40vh

				div
					div
						// padding-top: 1vh

						img.profilePic
							height: 25vh
							width: 25vh

					h3.aboutMe-name
						font-family: Oswald !important
						font-size: 2rem
						color: $darkGray

					h4.aboutMe-title
						font-family: Montserrat !important
						font-size: 1rem
						color: $darkGray

						em.text-purple
							color: $lightPurple
							font-size: 1rem
							opacity: .5
							font-weight: bold


			div.aboutMe
				background-color: #a8a497
				position: relative
				height: 60vh
				// margin-bottom: 10vh

				div
					position: relative
					bottom: 0%

					h1
						font-family: OSWALD
						font-size: 3rem
						color: $tealLight

					h2
						font-family: OSWALD
						font-size: 1.2rem
						color: $accentColorLight

					p.aboutMe-description
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 1.6
						text-align: justify

				div
					img.codingVector
						height: 8vh
						position: absolute
						opacity: .8
						transition-timing-function: ease-out
						transition: 0.5s

					img.codingVector:hover
						height: 8vh
						position: absolute
						opacity: .8
						transition-timing-function: ease-in
						transition: 0.5s
						transform: scale(1.2)

			div.about-button
				display: none
				// background-color: rgba(0,0,0,.3)
				// position: relative
				// right: 47.5%
				// top: 50%
				// height: 100vh
				// z-index: 300

				a.about-nav
					display: none
					// color: $accentColor
					// position: absolute
					// right: 50%
					// bottom: 2.5%
					// z-index: 100
					// transition-timing-function: ease-out
					// transition: 0.3s
					// opacity: .3

				a.about-nav:hover
					display: none
					// color: $accentColor
					// transition-timing-function: ease-in
					// transition: 0.3s
					// transform: scale(1.15)
					// opacity: 1

@include small-tablet
	section.about
		background-color: $neutralColor
		height: 100vh
		top: 20%
		z-index: 1000

		div.flex-nowrap
			height: 0vh
			display: none

			div.profile
				height: 0vh
				display: none

				div
					height: 0vh
					display: none

					div
						height: 0vh
						display: none

						img.profilePic
							height: 0vh
							display: none

					h3.aboutMe-name
						height: 0vh
						display: none

					h4.aboutMe-title
						height: 0vh
						display: none

					em.text-purple
						height: 0vh
						display: none

			div.aboutMe
				height: 0vh
				display: none

				div
					height: 0vh
					display: none
					h1
						height: 0vh
						display: none

					h2
						height: 0vh
						display: none

					p.aboutMe-description
						height: 0vh
						display: none

				div
					height: 0vh
					display: none	
								
					img.codingVector
						height: 0vh
						display: none

			div
				height: 0vh
				display: none
				
				a.about-nav
					height: 0vh
					display: none

		div.mobile
			div.profile
				height: 40vh

				div
					div
						// padding-top: 1vh

						img.profilePic
							height: 20vh
							width: 20vh

					h3.aboutMe-name
						font-family: Oswald !important
						font-size: 2rem
						color: $darkGray

					h4.aboutMe-title
						font-family: Montserrat !important
						font-size: 1rem
						color: $darkGray

						em.text-purple
							color: $lightPurple
							font-size: 1rem
							opacity: .5
							font-weight: bold


			div.aboutMe
				background-color: #a8a497
				position: relative
				height: 60vh
				// margin-bottom: 10vh

				div
					position: relative
					bottom: 0%

					h1
						font-family: OSWALD
						font-size: 3rem
						color: $tealLight

					h2
						font-family: OSWALD
						font-size: 1.2rem
						color: $accentColorLight

					p.aboutMe-description
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 1.2
						text-align: justify

				div
					img.codingVector
						height: 8vh
						position: absolute
						opacity: .8
						transition-timing-function: ease-out
						transition: 0.5s

					img.codingVector:hover
						height: 8vh
						position: absolute
						opacity: .8
						transition-timing-function: ease-in
						transition: 0.5s
						transform: scale(1.2)

			div.about-button
				display: none
				// background-color: rgba(0,0,0,.3)
				// position: relative
				// right: 47.5%
				// top: 50%
				// height: 100vh
				// z-index: 300

				a.about-nav
					display: none
					// color: $accentColor
					// position: absolute
					// right: 50%
					// bottom: 2.5%
					// z-index: 100
					// transition-timing-function: ease-out
					// transition: 0.3s
					// opacity: .3

				a.about-nav:hover
					display: none
					// color: $accentColor
					// transition-timing-function: ease-in
					// transition: 0.3s
					// transform: scale(1.15)
					// opacity: 1

@include phone
	section.about
		background-color: $neutralColor
		height: 160vh
		top: 20%
		z-index: 1000

		div.flex-nowrap
			height: 0vh
			display: none

			div.profile
				height: 0vh
				display: none

				div
					height: 0vh
					display: none

					div
						height: 0vh
						display: none

						img.profilePic
							height: 0vh
							display: none

					h3.aboutMe-name
						height: 0vh
						display: none

					h4.aboutMe-title
						height: 0vh
						display: none

					em.text-purple
						height: 0vh
						display: none

			div.aboutMe
				height: 0vh
				display: none

				div
					height: 0vh
					display: none
					h1
						height: 0vh
						display: none

					h2
						height: 0vh
						display: none

					p.aboutMe-description
						height: 0vh
						display: none

				div
					height: 0vh
					display: none	
								
					img.codingVector
						height: 0vh
						display: none

			div
				height: 0vh
				display: none
				
				a.about-nav
					height: 0vh
					display: none

		div.mobile
			div.profile
				position: relative
				height: 60vh

				div
					div
						padding-top: 5vh
						img.profilePic
							height: 30vh
							width: 30vh


					h3.aboutMe-name
						font-family: Oswald !important
						font-size: 3rem
						color: $darkGray


					h4.aboutMe-title
						font-family: Montserrat !important
						font-size: 1.3rem
						color: $darkGray


						em.text-purple
							color: $lightPurple
							font-size: 1.5rem
							opacity: .5
							font-weight: bold


			div.aboutMe
				background-color: #a8a497
				position: relative
				height: 100vh

				div
					position: relative
					bottom: 0%

					h1
						font-family: OSWALD
						font-size: 3.5rem
						color: $tealLight

					h2
						font-family: OSWALD
						font-size: 1.5rem
						color: $accentColorLight

					p.aboutMe-description
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 1.6
						text-align: justify

				div
					img.codingVector
						height: 10vh
						position: absolute
						opacity: .8
						transition-timing-function: ease-out
						transition: 0.5s

					img.codingVector:hover
						height: 10vh
						position: absolute
						opacity: .8
						transition-timing-function: ease-in
						transition: 0.5s
						transform: scale(1.2)

			div.about-button
				background-color: rgba(0,0,0,.3)
				position: relative
				right: 47.5%
				top: 50%
				height: 100vh
				z-index: 300

				a.about-nav
					color: $accentColor
					position: absolute
					right: 50%
					bottom: 2.5%
					z-index: 100
					transition-timing-function: ease-out
					transition: 0.3s
					opacity: .3

				a.about-nav:hover
					color: $accentColor
					transition-timing-function: ease-in
					transition: 0.3s
					transform: scale(1.15)
					opacity: 1

@include small-phone
	section.about
		background-color: $neutralColor
		height: 160vh
		top: 20%
		z-index: 1000

		div.flex-nowrap
			height: 0vh
			display: none

			div.profile
				height: 0vh
				display: none

				div
					height: 0vh
					display: none

					div
						height: 0vh
						display: none

						img.profilePic
							height: 0vh
							display: none

					h3.aboutMe-name
						height: 0vh
						display: none

					h4.aboutMe-title
						height: 0vh
						display: none

					em.text-purple
						height: 0vh
						display: none

			div.aboutMe
				height: 0vh
				display: none

				div
					height: 0vh
					display: none
					h1
						height: 0vh
						display: none

					h2
						height: 0vh
						display: none

					p.aboutMe-description
						height: 0vh
						display: none

				div
					height: 0vh
					display: none	
								
					img.codingVector
						height: 0vh
						display: none

			div
				height: 0vh
				display: none
				
				a.about-nav
					height: 0vh
					display: none

		div.mobile
			div.profile
				position: relative
				height: 60vh

				div
					div
						padding-top: 5vh
						img.profilePic
							height: 30vh
							width: 30vh


					h3.aboutMe-name
						font-family: Oswald !important
						font-size: 3rem
						color: $darkGray


					h4.aboutMe-title
						font-family: Montserrat !important
						font-size: 1.3rem
						color: $darkGray


						em.text-purple
							color: $lightPurple
							font-size: 1.5rem
							opacity: .5
							font-weight: bold


			div.aboutMe
				background-color: #a8a497
				position: relative
				height: 100vh

				div
					position: relative
					bottom: 0%

					h1
						font-family: OSWALD
						font-size: 3.5rem
						color: $tealLight

					h2
						font-family: OSWALD
						font-size: 1.5rem
						color: $accentColorLight

					p.aboutMe-description
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 1.6
						text-align: justify

				div
					img.codingVector
						height: 10vh
						position: absolute
						opacity: .8
						transition-timing-function: ease-out
						transition: 0.5s

					img.codingVector:hover
						height: 10vh
						position: absolute
						opacity: .8
						transition-timing-function: ease-in
						transition: 0.5s
						transform: scale(1.2)

			div.about-button
				background-color: rgba(0,0,0,.3)
				position: relative
				right: 47.5%
				top: 50%
				height: 100vh
				z-index: 300

				a.about-nav
					color: $accentColor
					position: absolute
					right: 50%
					bottom: 2.5%
					z-index: 100
					transition-timing-function: ease-out
					transition: 0.3s
					opacity: .3

				a.about-nav:hover
					color: $accentColor
					transition-timing-function: ease-in
					transition: 0.3s
					transform: scale(1.15)
					opacity: 1