//--------------- C A P S T O N E 03 ----------------
@include desktop
	div#capstone3-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-sm-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-phone
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3
		height: 100vh
		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div
			div
				img.capstone3
					height: 40vh
					position: relative
					left: 5vh
					top: 20vh
					right: 0
					bottom: 0

			div.parqerApp-desc-div
				height: 100vh

				div.parqerApp-desc
					position: relative
					top: 20%
					left: 0%
					div.parqerApp-div
						img.parqerApp
							height: 17vh
							position: relative
							top: 20%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 2
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.15)
							transition-timing-function: ease-in
							transition: 0.3s	

						img.stack-icon-sm
							height: 8vh
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						img.stack-icon-sm:hover
							transform: scale(1.15)
							transition-timing-function: ease-in
							transition: 0.3s

		div.cap3-button
			position: relative
			right: 47.5%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap3-nav
				color: $accentColor
				position: relative
				right: 50%
				bottom: 7vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3				

			a.cap3-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone3-text-div
			position: absolute
			left: 0
			top: 477vh

			p
				color: $darkGray
				font-family: Oswald
				font-size: 15rem
				opacity: .3
				z-index: -999

@include tablet
	div#capstone3
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-phone
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-sm-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-tablet
		height: 100vh
		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div

			div.gif

				height: 40vh
				margin-top: 5vh

				img.capstone3
					height: 35vh


			div.parqerApp-desc-div
				height: 50vh

				div.parqerApp-desc

					position: relative
					top: 0%
					left: 0%

					div.parqerApp-div
						img.parqerApp
							height: 10vh
							position: relative
							top: 0%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 2
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.2)
							transition-timing-function: ease-in
							transition: 0.3s

						img.stack-icon-sm
							height: 8vh
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						img.stack-icon-sm:hover
							transform: scale(1.15)
							transition-timing-function: ease-in
							transition: 0.3s						

		div.cap3-button
			position: relative
			right: 45%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap3-nav

				color: $accentColor
				position: relative
				right: 50%
				bottom: 7.5vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3

			a.cap3-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone3-text-div
			position: absolute
			left: 0
			top: 481vh
			z-index: -1
			p
				color: $darkGray
				font-family: Oswald
				font-size: 10rem
				opacity: .3
				z-index: -999
				letter-spacing: -.5rem

@include small-tablet
	div#capstone3
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-phone
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-sm-tablet
		height: 100vh
		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div

			div.gif

				height: 32.5vh
				margin-top: 5vh

				img.capstone3
					height: 30vh


			div.parqerApp-desc-div
				height: 50vh

				div.parqerApp-desc

					position: relative
					top: 0%
					left: 0%

					div.parqerApp-div
						margin: 10vh 0 0 0 

						img.parqerApp
							height: 7.5vh
							position: relative
							top: 0%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 1.5
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.2)
							transition-timing-function: ease-in
							transition: 0.3s

						img.stack-icon-sm
							height: 6vh
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						img.stack-icon-sm:hover
							transform: scale(1.15)
							transition-timing-function: ease-in
							transition: 0.3s						

		div.cap3-button
			position: relative
			right: 45%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap3-nav

				color: $accentColor
				position: relative
				right: 50%
				bottom: 7.5vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3

			a.cap3-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone3-text-div
			position: absolute
			left: 0
			top: 481vh
			z-index: -1
			p
				color: $darkGray
				font-family: Oswald
				font-size: 7.5rem
				opacity: .3
				z-index: -999
				letter-spacing: -.5rem

@include phone
	div#capstone3
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-sm-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none
			z-index: -1
			p
				height: 0vh
				display: none

	div#capstone3-phone
		height: 100vh

		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div
			div.gif
				padding-top: 5vh
				img.capstone3
					height: 25vh

			div.parqerApp-desc-div
				padding-top: 5vh

				div.parqerApp-desc
					position: relative
					top: 0%
					left: 0%

					div.parqerApp-div
						img.parqerApp
							height: 10vh
							position: relative
							top: 50%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 1.75
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.2)
							transition-timing-function: ease-in
							transition: 0.3s

						img.stack-icon-sm
							height: 4vh
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						img.stack-icon-sm:hover
							transform: scale(1.15)
							transition-timing-function: ease-in
							transition: 0.3s							

		div.cap3-button
			position: relative
			right: 45%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap3-nav
				color: $accentColor
				position: relative
				right: 50%
				bottom: 7.5vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3

			a.cap3-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone3-text-div
			position: absolute
			left: 0
			top: 545vh
			z-index: -1
			p
				color: $darkGray
				font-family: Oswald
				font-size: 6.5rem
				opacity: .3
				z-index: -999
				letter-spacing: -.5rem

@include small-phone
	div#capstone3
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-sm-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone3
					height: 0vh
					display: none

			div.parqerApp-desc-div
					height: 0vh
					display: none

				div.parqerApp-desc
					height: 0vh
					display: none

					div.parqerApp-div
						height: 0vh
						display: none

						img.parqerApp
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap3-button
			height: 0vh
			display: none

			a.cap3-nav
				height: 0vh
				display: none

			a.cap3-nav:hover
				height: 0vh
				display: none

		div.capstone3-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone3-phone
		height: 100vh
		
		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div
			div.gif
				padding-top: 6vh
				img.capstone3
					height: 25vh

			div.parqerApp-desc-div
				padding-top: 5vh

				div.parqerApp-desc
					position: relative
					top: 0%
					left: 0%

					div.parqerApp-div
						img.parqerApp
							height: 10vh
							position: relative
							top: 50%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: .9rem
						color: $neutralColor
						line-height: 1.75
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.2)
							transition-timing-function: ease-in
							transition: 0.3s

						img.stack-icon-sm
							height: 4vh
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						img.stack-icon-sm:hover
							transform: scale(1.15)
							transition-timing-function: ease-in
							transition: 0.3s						

		div.cap3-button
			position: relative
			right: 45%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap3-nav
				color: $accentColor
				position: relative
				right: 50%
				bottom: 7.5vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3

			a.cap3-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone3-text-div
			position: absolute
			left: 0
			top: 548vh
			z-index: -1
			p
				color: $darkGray
				font-family: Oswald
				font-size: 5rem
				opacity: .3
				z-index: -999
				letter-spacing: -.5rem