//--------------- C A P S T O N E 01 ----------------
@include desktop
	div#capstone1-phone
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-sm-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1
		height: 100vh
		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div
			div
				img.capstone1
					height: 40vh
					position: relative
					left: 5vh
					top: 20vh
					right: 0
					bottom: 0

			div.altMobility-desc-div
				height: 100vh

				div.altMobility-desc
					position: relative
					top: 20%
					left: 0%
					div.altMobility-div
						img.altMobility
							height: 17vh
							position: relative
							top: 20%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 2
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.2)
							transition-timing-function: ease-in
							transition: 0.3s							

		div.cap1-button
			position: relative
			right: 45%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap1-nav
				color: $accentColor
				position: relative
				right: 50%
				bottom: 7.5vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3

			a.cap1-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone1-text-div
			position: absolute
			left: 0
			top: 277vh

			p
				color: $darkGray
				font-family: Oswald
				font-size: 15rem
				opacity: .3
				z-index: -999

@include tablet
	div#capstone1
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-phone
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-sm-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-tablet
		height: 100vh
		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div
			div.gif

				height: 40vh
				margin-top: 5vh

				img.capstone1
					height: 35vh

			div.altMobility-desc-div
				height: 50vh

				div.altMobility-desc
					position: relative
					top: 0%
					left: 0%

					div.altMobility-div
						img.altMobility
							height: 10vh
							position: relative
							top: 0%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 2
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.2)
							transition-timing-function: ease-in
							transition: 0.3s							

		div.cap1-button
			position: relative
			right: 45%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap1-nav
				color: $accentColor
				position: relative
				right: 50%
				bottom: 7.5vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3

			a.cap1-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone1-text-div
			position: absolute
			left: 0
			top: 281vh
			z-index: -1
			p
				color: $darkGray
				font-family: Oswald
				font-size: 10rem
				opacity: .3
				z-index: -999
				letter-spacing: -.5rem

@include small-tablet
	div#capstone1
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-phone
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-tablet
		display: none !important
		height: 0vh !important
		
		div

			div.gif
				display: none !important
				height: 0vh !important

				img.capstone1
					display: none !important
					height: 0vh !important

			div.assetMgmt-desc-div
				display: none !important
				height: 0vh !important

				div.assetMgmt-desc

					position: relative
						display: none !important
						height: 0vh !important

					div.assetMgmt-div
						img.assetMgmt
							display: none !important
							height: 0vh !important

					p.project-desc
						display: none !important
						height: 0vh !important

					div
						a.btn-teal
							display: none !important
							height: 0vh !important

						a.btn-teal:hover
							display: none !important
							height: 0vh !important

						a.btn-blue
							display: none !important
							height: 0vh !important

						a.btn-blue:hover
							display: none !important
							height: 0vh !important


					hr.stacks
						display: none !important
						height: 0vh !important

					div
						i.stack-icon-fa
							display: none !important
							height: 0vh !important

						i.stack-icon-fa:hover
							display: none !important
							height: 0vh !important

						img.stack-icon
							display: none !important
							height: 0vh !important

						img.stack-icon:hover
							display: none !important
							height: 0vh !important					

		div.cap1-button
			display: none !important
			height: 0vh !important

			a.cap1-nav
				display: none !important
				height: 0vh !important

			a.cap1-nav:hover
				display: none !important
				height: 0vh !important

		div.capstone1-text-div
			display: none !important
			height: 0vh !important

			p
				display: none !important
				height: 0vh !important

	div#capstone1-sm-tablet
		height: 100vh
		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div
			div.gif

				height: 35vh
				margin-top: 5vh

				img.capstone1
					height: 30vh

			div.altMobility-desc-div
				height: 50vh

				div.altMobility-desc
					position: relative
					top: 0%
					left: 0%

					div.altMobility-div
						img.altMobility
							height: 7.5vh
							position: relative
							top: 0%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 1.5
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.2)
							transition-timing-function: ease-in
							transition: 0.3s							

		div.cap1-button
			position: relative
			right: 45%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap1-nav
				color: $accentColor
				position: relative
				right: 50%
				bottom: 7.5vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3

			a.cap1-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone1-text-div
			position: absolute
			left: 0
			top: 281vh
			z-index: -1
			p
				color: $darkGray
				font-family: Oswald
				font-size: 7.5rem
				opacity: .3
				z-index: -999
				letter-spacing: -.5rem

@include phone
	div#capstone1
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-sm-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-phone
		height: 100vh
		// padding-top: 65vh
		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div
			div.gif
				padding-top: 7.5vh
				img.capstone1
					height: 25vh

			div.altMobility-desc-div
				padding-top: 5vh

				div.altMobility-desc
					position: relative
					top: 0%
					left: 0%

					div.altMobility-div
						img.altMobility
							height: 10vh
							position: relative
							top: 50%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 2
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.2)
							transition-timing-function: ease-in
							transition: 0.3s							

		div.cap1-button
			position: relative
			right: 45%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap1-nav
				color: $accentColor
				position: relative
				right: 50%
				bottom: 7.5vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3

			a.cap1-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone1-text-div
			position: absolute
			left: 0
			top: 345vh
			z-index: -1
			p
				color: $darkGray
				font-family: Oswald
				font-size: 6.5rem
				opacity: .3
				z-index: -999
				letter-spacing: -.5rem

@include small-phone
	div#capstone1
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-sm-tablet
		height: 0vh
		display: none
		
		div
			height: 0vh
			display: none

			div
				height: 0vh
				display: none

				img.capstone1
					height: 0vh
					display: none

			div.altMobility-desc-div
					height: 0vh
					display: none

				div.altMobility-desc
					height: 0vh
					display: none

					div.altMobility-div
						height: 0vh
						display: none

						img.altMobility
							height: 0vh
							display: none

					p.project-desc
						height: 0vh
						display: none

					div
						height: 0vh
						display: none
						a.btn-teal
							height: 0vh
							display: none

						a.btn-teal:hover
							height: 0vh
							display: none

						a.btn-blue
							height: 0vh
							display: none

						a.btn-blue:hover
							height: 0vh
							display: none


					hr.stacks
						height: 0vh
						display: none

					div
						height: 0vh
						display: none

						i.stack-icon-fa
							height: 0vh
							display: none

						i.stack-icon-fa:hover
							height: 0vh
							display: none						

		div.cap1-button
			height: 0vh
			display: none

			a.cap1-nav
				height: 0vh
				display: none

			a.cap1-nav:hover
				height: 0vh
				display: none

		div.capstone1-text-div
			height: 0vh
			display: none

			p
				height: 0vh
				display: none

	div#capstone1-phone
		height: 100vh
		// padding-top: 65vh
		// border-bottom: 5px solid rgba(92, 107, 115, .3)
		
		div
			div.gif
				padding-top: 7.5vh
				img.capstone1
					height: 25vh

			div.altMobility-desc-div
				padding-top: 5vh

				div.altMobility-desc
					position: relative
					top: 0%
					left: 0%

					div.altMobility-div
						img.altMobility
							height: 10vh
							position: relative
							top: 50%
							left: 0

					p.project-desc
						font-family: Montserrat !important
						font-size: 1rem
						color: $neutralColor
						line-height: 1.75
						text-align: justify

					div
						a.btn-teal
							background: $teal
							color: $neutralColor

						a.btn-teal:hover
							background: $neutralColor
							color: $teal

						a.btn-blue
							background: $blue
							color: $neutralColor

						a.btn-blue:hover
							background: $neutralColor
							color: $blue


					hr.stacks
						border-top: 3px solid rgba(240,235,216,.5)

					div
						i.stack-icon-fa
							color: $accentColor
							z-index: 100
							transition-timing-function: ease-out
							transition: 0.3s

						i.stack-icon-fa:hover
							transform: scale(1.2)
							transition-timing-function: ease-in
							transition: 0.3s							

		div.cap1-button
			position: relative
			right: 45%
			top: 100%
			height: 0vh
			z-index: 300

			a.cap1-nav
				color: $accentColor
				position: relative
				right: 50%
				bottom: 7.5vh
				z-index: 100
				transition-timing-function: ease-out
				transition: 0.3s
				opacity: .3

			a.cap1-nav:hover
				color: $accentColor
				transition: 0.3s
				transform: scale(1.15)
				opacity: 1

		div.capstone1-text-div
			position: absolute
			left: 0
			top: 348vh
			z-index: -1
			p
				color: $darkGray
				font-family: Oswald
				font-size: 5rem
				opacity: .3
				z-index: -999
				letter-spacing: -.5rem