//--------------- P R O J E C T S ----------------
section.projects
	height: 300vh
	background-color: $baseColor
	z-index: -9999

	@import './07capstone1'
	@import './07capstone2'
	@import './07capstone3'