//--------------- C O N T A C T ----------------
@include desktop
	section.contact
		background-color: $darkGray
		z-index: -1
		height: 50vh

		div.mobile
			height: 0vh
			display: none

			div.callToAction
				height: 0vh
				display: none

				img.halalanLogo
					height: 0vh
					display: none

				img.halalanLogo:hover


			div.contactDetails
				height: 0vh
				display: none

				div.contact-div
					height: 0vh
					display: none

					div
						height: 0vh
						h3.cta-hdr
							height: 0vh
							display: none

						h4.cta-sub
							height: 0vh
							display: none

						div
							height: 0vh
							div
								height: 0vh

								p.contact-field
									display: none

								p.contact-data
									display: none

						div.mobile
							height: 0vh

							div
								height: 0vh
								p.contact-field
									display: none

								p.contact-data
									display: none

						div	
							height: 0vh	
							a
								i.fa-links
									display: none

								i.fa-links:hover
									display: none
		
		div.flex-nowrap
			div.callToAction
				position: relative
				height: 50vh

				div
					img.cityscapePic
						height: 50vh
						position: relative
						left: -7%


				div.cta-div

					div.halalanLogo-div
						position: relative
						left: 5%
						bottom: 10vh

						img.halalanLogo
							height: 30vh
							position: absolute
							bottom: 0%
							left: 0%
							transition-timing-function: ease-out
							transition: 0.5s

						img.halalanLogo:hover
							transition-timing-function: ease-in
							transition: 0.5s
							transform: scale(1.05)

			div.contactDetails
				position: relative
				height: 50vh

				div.contact-div
					position: absolute
					z-index: 500
					right: 15%
					bottom: 10vh

					h3.cta-hdr
						font-family: Oswald
						font-size: 2.3rem
						color: $neutralColor

					h4.cta-sub
						font-family: Montserrat
						font-size: 1.2rem
						color: $accentColor

					div
						h6.contact-field
							font-family: Montserrat !important
							font-size: 1.2rem
							color: $neutralColor
							line-height: 1.6
							text-align: justify

						p.contact-data
							font-family: Montserrat !important
							font-size: 1.2rem
							color: $neutralColor
							line-height: 1.6
							text-align: justify

					div.mobile
						div
							p.contact-field
								display: none

							p.contact-data
								display: none

					div		
						a
							i.fa-links
								color: $accentColor
								z-index: 100
								transition-timing-function: ease-out
								transition: 0.3s

							i.fa-links:hover
								color: #b7b4cb
								opacity: 1
								transform: scale(1.075)
								transition-timing-function: ease-in
								transition: 0.3s

				div.laptopDiv
					background: (0,0,0,.3)
					position: absolute
					right: 0%

					img.laptopPic
						background: (0,0,0,.3)
						height: 50vh
						position: relative
						right: -2%

		div.back-button
			background-color: rgba(0,0,0,.3)
			position: fixed
			height: 0vh
			right: 1.5%
			bottom: 7.5%

			a.btn-outline-yellow
				background: transparent
				border: solid 1px rgba(254,220,151,1)
				color: #FEDC97 !important

			a.btn-outline-yellow:hover
				background: #FEDC97
				color: transparent !important
				transform: scale(1.15)

@include tablet
	section.contact
		background-color: $darkGray
		background: url('https://res.cloudinary.com/kennmasing/image/upload/v1589302629/portfolio/cityscapeTablet_hqcutx.png')
		center center
		background-size: cover
		height: 100vh

		div.flex-nowrap
			div.callToAction
				display: none

				div
					img.cityscapePic
						display: none


				div.cta-div
					display: none

					div.halalanLogo-div
						display: none

						img.halalanLogo
							display: none

						img.halalanLogo:hover
							display: none

			div.contactDetails
				display: none

				div.contact-div
					display: none

					h3.cta-hdr
						display: none

					h4.cta-sub
						display: none

					div
						h6.contact-field
							display: none

						p.contact-data
							display: none

					div		
						a
							i.fa-links
								display: none

							i.fa-links:hover
								display: none

				div.laptopDiv
					display: none

					img.laptopPic
						display: none
		
		div.mobile
			div.callToAction
				height: 100vh

				img.halalanLogo
					height: 25vh
					margin: 15vh 0 0 0

				img.halalanLogo:hover


			div.contactDetails
				position: absolute
				z-index: 5000

				div.contact-div
					z-index: 500
					padding: 40vh 0 0 0

					div
						h3.cta-hdr
							font-family: Oswald
							font-size: 2.3rem
							color: $neutralColor

						h4.cta-sub
							font-family: Montserrat
							font-size: 1.2rem
							color: $accentColor

						div.tablet
							div
								p.contact-field
									font-family: Montserrat !important
									font-size: 1.2rem
									color: $neutralColor
									line-height: 1.6
									text-align: justify
									margin: 0 3rem 0 5rem
									padding: 0 3rem 0 5rem

								p.contact-data
									font-family: Montserrat !important
									font-size: 1.2rem
									color: $neutralColor
									line-height: 1.6
									text-align: left
									margin: 0 0rem 0 0rem
									padding: 0 0rem 0 0rem

						div.mobile
							div
								p.contact-field
									display: none

								p.contact-data
									display: none

						div		
							a
								i.fa-links
									color: $accentColor
									z-index: 100

								i.fa-links:hover
									color: #b7b4cb
									opacity: 1

		div.back-button
			display: none

			a.btn-outline-yellow
				display: none

			a.btn-outline-yellow:hover
				display: none

@include small-tablet
	section.contact
		background-color: $darkGray
		background: url('https://res.cloudinary.com/kennmasing/image/upload/v1589302629/portfolio/cityscapeTablet_hqcutx.png')
		center center
		background-size: cover
		height: 100vh

		div.flex-nowrap
			div.callToAction
				display: none

				div
					img.cityscapePic
						display: none


				div.cta-div
					display: none

					div.halalanLogo-div
						display: none

						img.halalanLogo
							display: none

						img.halalanLogo:hover
							display: none

			div.contactDetails
				display: none

				div.contact-div
					display: none

					h3.cta-hdr
						display: none

					h4.cta-sub
						display: none

					div
						h6.contact-field
							display: none

						p.contact-data
							display: none

					div		
						a
							i.fa-links
								display: none

							i.fa-links:hover
								display: none

				div.laptopDiv
					display: none

					img.laptopPic
						display: none
		
		div.mobile
			div.callToAction
				height: 100vh

				img.halalanLogo
					height: 25vh
					margin: 15vh 0 0 0

				img.halalanLogo:hover


			div.contactDetails
				position: absolute
				z-index: 5000

				div.contact-div
					z-index: 500
					padding: 40vh 0 0 0

					div
						h3.cta-hdr
							font-family: Oswald
							font-size: 2.3rem
							color: $neutralColor

						h4.cta-sub
							font-family: Montserrat
							font-size: 1.2rem
							color: $accentColor

						div.tablet
							div
								p.contact-field
									font-family: Montserrat !important
									font-size: 1rem
									color: $neutralColor
									line-height: 1.6
									text-align: justify
									margin: 0 3rem 0 3rem
									padding: 0 3rem 0 3rem

								p.contact-data
									font-family: Montserrat !important
									font-size: 1rem
									color: $neutralColor
									line-height: 1.6
									text-align: left
									margin: 0 0rem 0 0rem
									padding: 0 0rem 0 0rem

						div.mobile
							div
								p.contact-field
									display: none

								p.contact-data
									display: none

						div		
							a
								i.fa-links
									color: $accentColor
									z-index: 100

								i.fa-links:hover
									color: #b7b4cb
									opacity: 1

		div.back-button
			display: none

			a.btn-outline-yellow
				display: none

			a.btn-outline-yellow:hover
				display: none


@include phone
	section.contact
		background-color: $darkGray
		background: url('https://res.cloudinary.com/kennmasing/image/upload/v1589302629/portfolio/cityscapeTablet_hqcutx.png')
		center center
		background-size: cover
		height: 100vh

		div.flex-nowrap
			div.callToAction
				display: none

				div
					img.cityscapePic
						display: none


				div.cta-div
					display: none

					div.halalanLogo-div
						display: none

						img.halalanLogo
							display: none

						img.halalanLogo:hover
							display: none

			div.contactDetails
				display: none

				div.contact-div
					display: none

					h3.cta-hdr
						display: none

					h4.cta-sub
						display: none

					div
						h6.contact-field
							display: none

						p.contact-data
							display: none

					div		
						a
							i.fa-links
								display: none

							i.fa-links:hover
								display: none

				div.laptopDiv
					display: none

					img.laptopPic
						display: none
		
		div.mobile
			div.callToAction
				height: 100vh

				img.halalanLogo
					height: 18vh
					margin: 15vh 0 0 0

				img.halalanLogo:hover


			div.contactDetails
				position: absolute
				z-index: 5000

				div.contact-div
					z-index: 500
					padding: 30vh 0 0 0

					div
						h3.cta-hdr
							font-family: Oswald
							font-size: 2.3rem
							color: $neutralColor

						h4.cta-sub
							font-family: Montserrat
							font-size: 1.2rem
							color: $accentColor

						div.tablet
							div
								p.contact-field
									display: none

								p.contact-data
									display: none

						div.mobile
							div
								p.contact-field
									font-family: Montserrat !important
									font-size: 1rem
									color: $neutralColor
									line-height: 1.2
									text-align: center

								p.contact-data
									font-family: Montserrat !important
									font-size: 1rem
									color: $neutralColor
									line-height: 1.2
									text-align: center

						div		
							a
								i.fa-links
									color: $accentColor
									z-index: 100

								i.fa-links:hover
									color: #b7b4cb
									opacity: 1

		div.back-button
			display: none

			a.btn-outline-yellow
				display: none

			a.btn-outline-yellow:hover
				display: none

@include small-phone
	section.contact
		background-color: $darkGray
		background: url('https://res.cloudinary.com/kennmasing/image/upload/v1589302629/portfolio/cityscapeTablet_hqcutx.png')
		center center
		background-size: cover
		height: 100vh

		div.flex-nowrap
			div.callToAction
				display: none

				div
					img.cityscapePic
						display: none


				div.cta-div
					display: none

					div.halalanLogo-div
						display: none

						img.halalanLogo
							display: none

						img.halalanLogo:hover
							display: none

			div.contactDetails
				display: none

				div.contact-div
					display: none

					h3.cta-hdr
						display: none

					h4.cta-sub
						display: none

					div
						h6.contact-field
							display: none

						p.contact-data
							display: none

					div		
						a
							i.fa-links
								display: none

							i.fa-links:hover
								display: none

				div.laptopDiv
					display: none

					img.laptopPic
						display: none
		
		div.mobile
			div.callToAction
				height: 100vh

				img.halalanLogo
					height: 18vh
					margin: 15vh 0 0 0

				img.halalanLogo:hover


			div.contactDetails
				position: absolute
				z-index: 5000

				div.contact-div
					z-index: 500
					padding: 30vh 0 0 0

					div
						h3.cta-hdr
							font-family: Oswald
							font-size: 2.3rem
							color: $neutralColor

						h4.cta-sub
							font-family: Montserrat
							font-size: 1.2rem
							color: $accentColor

						div.tablet
							div
								p.contact-field
									display: none

								p.contact-data
									display: none

						div.mobile
							div
								p.contact-field
									font-family: Montserrat !important
									font-size: 1rem
									color: $neutralColor
									line-height: 1.2
									text-align: center

								p.contact-data
									font-family: Montserrat !important
									font-size: 1rem
									color: $neutralColor
									line-height: 1.2
									text-align: center

						div		
							a
								i.fa-links
									color: $accentColor
									z-index: 100

								i.fa-links:hover
									color: #b7b4cb
									opacity: 1

		div.back-button
			display: none

			a.btn-outline-yellow
				display: none

			a.btn-outline-yellow:hover
				display: none