/*div.two {
	position: absolute;
	margin: 20px;
	width: 150px;
	height: 150px;
	display: inline-block;
	background: yellow;    
	border: 1px solid black;
	transform: skewX(-10deg);
	z-index: 3000
  }*/

/*  .arrow {
  	width: 150px;
  	height: 150px;
  	background: #706993;
  	position: relative;
  	transform: rotate(45deg)
  	z-index: 4000;
  }

  .arrow:after{
  	content: '';
  	position: absolute;
  	width: 200px;
  	height: 200px;
  	background: #fff;
  	top: 10px;
  	left: 10px ;
  	z-index: 4000
  }*/

  /*.three:after,
.three:before {
  position: absolute;
  content: '';
  width: 800px;
  height: 200px;
  bottom: 0;
  background: #A0C1B9;
  z-index: 800;
}
.three:before{
  top: 50%;
  right: 0%;
  transform: skew(0, 30deg);
}

.three:after{
  top: -3%;
  right: 0%;
  transform: skew(0, -30deg);
}*/