//--------------- A B O U T ----------------
section.about
	background-color: $neutralColor
	height: 100vh
	top: 20%
	z-index: 1000

@media(min-width:576px) and (max-width:991px) {

}

@media(min-width:576px) and (max-width:991px) {

}

@media(min-width:1218px) and (max-width:1361px) {

}

@media(min-width:1121px) and (max-width:1217px) {

}

@media(min-width:992px) and (max-width:1120px) {

}

@media(min-width:992px) {

}

@media(min-width:769px) and (max-width:991px) {

}

@media(min-width:577px) and (max-width:768px) {

}

@media(min-width:412px) and (max-width:576px) {

}

@media(min-width:375px) and (max-width:411px) {

}