* {
  margin: 0;
  padding: 0;
  box-sizing:border-box
}
/* -------------------------------------------------
 		   S M O O T H   S C R O L L I N G
 ------------------------------------------------ */

html {
    scroll-behavior: smooth;
}

/*.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}*/

/* -------------------------------------------------
 					  H O M E
 ------------------------------------------------ */
header {
	/*z-index: -1000;*/
}

.header-nav{
	position: absolute;
	right: 50%;
	bottom: 30%;
	z-index: 100;
}

.header{
	z-index: -100;
}

#left{
	height: 100vh;
	background-color: #A0C1B9
}

#right{
	height: 100vh;
	background-color: #70A0AF;
}

#hdr-kenneth{
	font-size: 5rem;
	color: #F0EBD8;
	font-family: Lato;
	background: rgba(0,0,0,.3);
}

#hdr-masing{
	font-size: 15rem;
	color: #F0EBD8;
	font-family: PlayfairDisplay;
	background: rgba(0,0,0,.3);
}

.hdr-name{
	position: absolute;
	margin: 0 auto;
	display: grid;
	justify-content: center;
	align-items: center;
	z-index: 150;
	height: 50vh;
	border-radius: 50%;
	top: 20%;
}

div p i {
	font-size: 20rem
}

i {
	color: #706993;;
}

#purpleVector{
	height: 10rem;
	z-index: 200;
	position: absolute;
	left: 10%;
	bottom: 50%;
	opacity: .5;
}

#tealVector{
	height: 10rem;
	z-index: 200;
	position: absolute;
	right: 0%;
	bottom: 90%;
}

#headerName{
	height: 10rem;
	width: 10rem;
	z-index: 250;
	position: absolute;
	left: 22%;
	bottom: 48%;
}

#lineVector{
	height: 10rem;
	width: 10rem;
	z-index: 200;
	position: absolute;
	left: -4%;
	bottom: 87.5%;
}

.resume{
	position: absolute;
	right: 2%;
	bottom: 3%;
	z-index: 200;
}

.btn-yellow{
	background: #FEDC97;
	color: #706993;
}

.btn-yellow:hover{
	background: #706993;
	color: #FFF;
}

.btn-outline-yellow{
	background: transparent;
	border: solid 1px rgba(254,220,151,1);
	color: #FEDC97 !important;
}

.btn-outline-yellow:hover{
	background: #FEDC97;
	color: transparent !important;
	transform: scale(1.15);
}

.header-button{
	background-color: rgba(0,0,0,.3);
	position: relative;
	right: 45%;
	height: 100vh;
	z-index: 300;
}

/* -------------------------------------------------
 					A B O U T
 ------------------------------------------------ */

.nav-button{
	opacity: 1;
	height: 5rem;
	font-size: 5rem;
	color: #FEDC97;
}

.nav-button:hover{
	opacity: .85;
	color: #FEDC97;
	-ms-transform: scale(1.15);
	-webkit-transform: scale(1.15); 
	transform: scale(1.15);
	transition: transform .2s;
}

#navbar{
	height: 10vh;
	background: #FEDC97;
	z-index: 9999;
}

ul li {
	color: #5C6B73 !important;
}

.navbar-logo{
	height: 10vh;
	opacity: .75;
}

.nav-link {
	color: #5C6B73 !important;
	font-family: Montserrat;
}

/* -------------------------------------------------
 					A B O U T
 ------------------------------------------------ */

.about{
	background-color: #F0EBD8;
	height: 100vh;
	top: 20%;
	z-index: 1000;
}

.profile{
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	padding-top: 13%;
}

.profilePic{
	height: 40vh;
}

.aboutMe{
	background-color: rgba(0,0,0,.3);
	position: relative;
	height: 100vh;
}

.aboutMe-name{
	font-family: Oswald !important;
	font-size: 3rem;
	color: #5C6B73;
}

.aboutMe-title{
	font-family: Montserrat !important;
	font-size: 1.3rem;
	color: #5C6B73;
}

.aboutMe-description{
	font-family: Montserrat !important;
	font-size: 1.2rem;
	color: #F0EBD8;
	line-height: 1.6;
	text-align: justify;;
}

.codingVector{
	height: 10vh;
	position: absolute;
	right: 10%;
	bottom: 15%;
	opacity: .5;
}

.text-purple{
	color: #8C87AB;
	font-size: 1.5rem;
	opacity: .5;
	font-weight: bold;
}

/*.about-button{
	background-color: rgba(0,0,0,.3);
	position: absolute;
	right: 45%;
	top: 27.5%;
	height: 255vh;
	z-index: 300;
}

.cap1-button,
.cap2-button,
.cap3-button{
	background-color: rgba(0,0,0,.3);
	position: relative;
	right: 45%;
	top: 27.5%;
	height: 100vh;
	z-index: 500;
}*/


/* -------------------------------------------------
 				 P R O J E C T S
 ------------------------------------------------ */

.projects {
	height: 300vh;
	background-color: #7e898f;
	z-index: -9999;
}

#capstone1{
	height: 100vh;
	/*border-bottom: 5px solid rgba(140, 135, 171, 1)*/
	/*border-bottom: 5px solid rgba(112, 105, 147, .6)*/
	border-bottom: 5px solid rgba(92, 107, 115, .3)
}

#capstone2{
	height: 100vh;
	/*border-bottom: 5px solid rgba(140, 135, 171, 1)*/
	/*border-bottom: 5px solid rgba(112, 105, 147, .6)*/
	border-bottom: 5px solid rgba(92, 107, 115, .3)
}

#capstone3{
	height: 100vh;
	/*border-bottom: 5px solid rgba(140, 135, 171, 1)*/
	/*border-bottom: 5px solid rgba(112, 105, 147, .6)*/
	border-bottom: 5px solid rgba(92, 107, 115, .3)
}

.capstone1{
	height: 45vh;
	position: relative;
	left: 2.5vh;
	top: 20vh;
	right: 0;
	bottom: 0;
}

div.altMobility-desc{
	height: 100vh;
}

div div.altMobility-desc{
	position: relative;
	top: 9%;
	left: 0%;
}

.altMobility{
	height: 17vh;
	position: relative;
	top: 20%;
	left: 0;
}


.capstone1-text-div{
	position: absolute;
	left: 0;
	top: 281vh;
	/*z-index: 5000;*/
}

.capstone2-text-div{
	position: absolute;
	left: 0;
	top: 381vh;
	/*z-index: 5000;*/
}

.capstone3-text-div{
	position: absolute;
	left: 0;
	top: 481vh;
	/*z-index: 5000;*/
}

h2.capstone-text-name{
	color: #5C6B73;
	/*color: #706993;*/
	/*color: #8C87AB;*/
	font-family: Oswald;
	font-size: 15rem;
	opacity: .3;
	z-index: -999;

}

.capstone2{
	height: 45vh;
	position: relative;
	left: 2.5vh;
	top: 20vh;
	right: 0;
	bottom: 0;
}

div.assetMgmt-desc{
	height: 60vh;
}

div div.assetMgmt-desc{
	position: relative;
	top: 12%;
	left: 0%;
}

.assetMgmt{
	height: 17vh;
	position: relative;
	top: 20%;
	left: 0;
}

.capstone3{
	height: 45vh;
	position: relative;
	left: 2.5vh;
	top: 20vh;
	right: 0;
	bottom: 0;
}

div.parqerApp-desc{
	height: 60vh;
}

div div.parqerApp-desc{
	position: relative;
	top: 10%;
	left: 0%;
}

.parqerApp{
	height: 17vh;
	position: relative;
	top: 20%;
	left: 0;
}

.project-desc{
	font-family: Montserrat !important;
	font-size: 1rem;
	color: #F0EBD8;
	line-height: 2;
	text-align: justify;;
}


.btn-teal{
	background: #A0C1B9;
	color: #F0EBD8;
	/*z-index: 5000;*/
}

.btn-teal:hover{
	background: #F0EBD8;
	color: #A0C1B9;
	/*z-index: 5000;*/
}

.btn-blue{
	background: #70A0AF;
	color: #F0EBD8;
	/*z-index: 5000;*/
}

.btn-blue:hover{
	background: #F0EBD8;
	color: #70A0AF;
	/*z-index: 5000;*/
}

hr.stacks{
	border-top: 3px solid rgba(240,235,216,.5);
}

.stacks-text{
	font-family: Montserrat !important;
	font-size: 1.5rem;
	color: #F0EBD8;
	line-height: 1.6;
	text-align: justify;;
}

div i {
	color: #FEDC97;
	/*color: #F0EBD8;*/
}

.masingLogo{
	height: 20vh;
}

.parqerLogo{
	height: 20vh;
}


.stack-icon{
	height: 10vh;
	z-index: 100;
}

.stack-icon-sm{
	height: 8vh;
	z-index: 100;
}

.stack-icon-fa{
	z-index: 100;
}

.back-button{
	position: relative;
	height: 0vh;
	bottom: 5%;
	/*z-index: 1;*/
}

/* -------------------------------------------------
 				  C O N T A C T
 ------------------------------------------------ */

.contact{
	background-color: #5C6B73;
	height: 50vh;
}

.callToAction{
	position: relative;
	height: 50vh;
}

.cityscapePic{
	height: 50vh;
	position: relative;
	left: -7%;
}

.halalanLogo-div{
	position: relative;
	top: 0;
	left: 20%;
}

.halalanLogo{
	height: 30vh;
	position: relative;
	bottom: 10%;
	left: 0;
}

.contactDetails{
	position: relative;
	height: 50vh;
}

.cta-div{
	position: absolute;
	z-index: 6000;
	left: 0%;
	bottom: 20%;
}

.contact-div{
	position: absolute;
	z-index: 500;
	right: 15%;
	bottom: 15%;
}

.cta-hdr{
	font-family: Oswald;
	font-size: 2.3rem;
	color: #F0EBD8;
}
.cta-sub{
	font-family: Montserrat;
	font-size: 1.2rem;
	color: #F0EBD8;
}

.contact-field{

}

.contact-data{
	
}

.laptopDiv{
	background: (0,0,0,.3);
	position: absolute;
	right: 0%;
	/*z-index: 9999*/	
}

.laptopPic{
	background: (0,0,0,.3);
	height: 50vh;
	position: relative;
	right: -2%;
	/*opacity: .3*/
}

a i.fa-links{

}

a i.fa-links:hover{
	/*color: #8C87AB;*/
	opacity: .75;
	transform: scale(1.15);
}







